@tailwind base;
@tailwind components;
@tailwind utilities;

/* transitions  */

@keyframes fadeFromTop {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeFromLeft {
    0% {
        opacity: 0;
        transform: translateX(-20px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeFromBottom {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Applying animations */
.animate-fadeFromTop {
    animation: fadeFromTop 1s ease forwards;
}

.animate-fadeFromLeft {
    animation: fadeFromLeft 1s ease forwards;
}

.animate-fadeFromBottom {
    animation: fadeFromBottom 1s ease forwards;
}


/* .Home {
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%
} */
