@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: auto;
    line-height: 1.01 !important;
}

section {
    margin-bottom: 0px !important;
}

.homePageLayout {
    display: flex;
    flex-direction: column;
    gap: 80px;
    justify-content: center;
    padding: 100px 80px !important;
    overflow: hidden;
}

.self-description {
    display: flex;
    flex-direction: column;
}

.welcome {
    color: #475569;
    font-family: "Outfit", sans-serif !important;
    font-size: 30px;
    font-weight: 500 !important;
    font-style: normal !important;
}

.name {
    font-size: 110px;
    color: #2E1065;
    font-family: "Righteous", sans-serif !important;
    font-optical-sizing: auto !important;
    font-weight: 400 !important;
    font-style: normal !important;
}

.designation {
    color: #475569;
    font-size: 30px;
    font-family: "Righteous", sans-serif !important;
    font-optical-sizing: auto !important;
    font-weight: 100 !important;
    font-style: normal !important;
}

.resumeButton {
    font-weight: 500 !important;
    font-family: "Righteous", sans-serif !important;
    text-transform: capitalize !important;
    color: whitesmoke !important;
    background-color: #482577 !important;
    letter-spacing: 1px !important;
}

.tags {
    position: relative !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.tagline {
    color: #3e036f;
    position: relative !important;
    font-size: 30px;
    font-size: 30px;
    text-align: center;
    font-family: "Righteous", sans-serif !important;
    font-weight: 500 !important;
    z-index: 200 !important;
    background-color: #BAC6FD;
    padding: 0px 20px;
    border-radius: 40%;
    text-align: center;
}

.horizontal-line-home {
    position: absolute !important;
    border: 3px solid #2E1065;
    border-radius: 20px;
    width: 100%;
    z-index: 1 !important;
}

.subTagline {
    color: #475569;
    text-align: center;
    font-size: 16px;
    font-family: "Righteous", sans-serif !important;
    font-weight: 100 !important;
}

.skillsPlate {
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 0 200px;
    font-family: "Righteous", sans-serif !important;
    letter-spacing: 1px;
    font-size: 12px;
    font-weight: 100 !important;
    text-align: center;
    color: #475569;
    width: 100%;
    transition: all 0.3s ease;
}

.skillIcons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}



/* Responsive  */
@media (max-width: 1024px) {
    .homePageLayout {
        padding: 70px 20px;
        gap: 60px;
    }

    .name {
        font-size: 70px;
    }

    .welcome,
    .designation {
        font-size: 22px;
    }

    .resumeButton {
        font-size: 14px;
    }

    .tagline {
        font-size: 26px;
        border-radius: 40%;
    }

    .skillsPlate {
        grid-auto-rows: auto;
        gap: 24px 40px;
        padding: 0 100px;
    }

    .skillIcons {
        justify-content: center;
        flex-wrap: wrap;
        gap: 14px;
    }
}


@media (max-width: 768px) {
    .homePageLayout {
        padding: 60px 30px;
        gap: 50px;
    }

    .name {
        font-size: 50px;
    }

    .welcome,
    .designation {
        font-size: 20px;
    }

    .tagline {
        font-size: 22px;
        padding: 2px 16px;
    }

    .subTagline {
        font-size: 14px;
        padding: 0 10px;
    }

    .skillsPlate {
        padding: 0 50px;
        gap: 20px;
        font-size: 12px;
    }

    .skillIcons {
        justify-content: center;
        gap: 12px;
    }
}

@media (max-width: 576px) {
    .homePageLayout {
        padding: 80px 50px !important;
        gap: 40px;
    }

    .welcome {
        font-size: 14px;
    }

    .name {
        font-size: 30px;
        line-height: 1.1;
    }

    .designation {
        font-size: 14px;
    }

    .resumeButton {
        justify-self: left;
    }

    .tagline {
        font-size: 14px;
        padding: 2px 0;
        background-color: none !important;
        border-radius: 2%;
        text-align: center;
        line-height: 1.2 !important;
    }

    .horizontal-line-home {
        display: none;
    }

    .subTagline {
        font-size: 12px;
        line-height: 1.2 !important;
        text-align: left;
    }

    .skillsPlate {
        padding: 0 10px;
        font-size: 10px;
        gap: 14px;
    }

    .skillIcons {
        justify-content: center;
        gap: 10px;
    }
}